@font-face {
  font-family: 'Hippopotamus Apocalypse';
  src: url(../../fonts/HippopotamusApocalypse.eot);
  src: url(../../fonts/HippopotamusApocalypse.eot?#iefix) format('embedded-opentype'),
      url(../../fonts/HippopotamusApocalypse.woff2) format('woff2'),
      url(../../fonts/HippopotamusApocalypse.woff) format('woff'),
      url(../../fonts/HippopotamusApocalypse.ttf) format('truetype'),
      url(../../fonts/HippopotamusApocalypse.svg#HippopotamusApocalypse) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}