.blockquote {
  border: 1px solid #f96332;
  border-radius: 0px;
  border-width: 1.5px;
  margin-top: 30px;
  padding: 20px;
  text-align: left; /* Align blockquote to the left */
}

.quoteText {
  color: #f96332;
}

.buttonContainer {
  text-align: right; /* Align button to the right */
  margin-top: 20px;
}

.button {
  border-radius: 20px;
  background-color: #f96332;
  color: #fff;
}

.centered {
  display: flex;
  align-items: center;
  /* align-content: center;
  text-align: center; */
  justify-content: center;
}
.centeredTitle {
  font-weight: bold;
  display: flex;
  align-items: center;
  /* align-content: center;
  text-align: center; */
  justify-content: center;
}

.row {
  margin: 20px;
}
