.footer {
  background-color: #f5f5f5;
  padding: 80px 0;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footerList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerList li {
  margin-bottom: 20px;
  color: #3c3c3c;
}

.copyRight {
  margin-top: 40px;
  color: #3c3c3c;
  font-size: 14px;
}
