.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 2rem 8rem;
  background-color: transparent;
  text-transform: uppercase;
}

.navbarLeft {
  display: flex;
  justify-content: flex-start;
}

.navbarLeft a {
  margin-right: 1rem;
  color: #fff;
  text-decoration: none;
}

.navbarRight {
  display: flex;
  justify-content: flex-end;
}

.navbarRight a {
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
}

.active {
  background-color: #fff2;
  /* font-weight: bold; */
  /* border-radius: 4px; */
  /* padding: 4px; */
}

.navbarRight a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* border-radius: 4px; */
  /* padding: 4px; */
}
