.footerWrapper {
  position: relative;
  z-index: 0;
  background-color: #000;
}

.backgroundImage {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.subTitle {
  color: #9a9a9a;
}

// .footer {
//   margin-top: 3vw !important;
// }
.copyright {
  @media screen and (max-width: 767px) {
    text-align: unset !important;
  }
}

.copyright {
  @media screen and (max-width: 767px) {
    text-align: unset !important;
  }
}
