.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.columnLeft {
  margin: 0;
}
.columnRight {
  display: flex;
  margin: 0;
  align-self: center;
}

/* .centered { */
/* text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center; */

/* object-fit: contain;
  opacity: 1;

  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
} */
